.pokemon-card
  display flex
  flex-direction column
  width 180px
  height 200px
  margin 10px
  border-radius 10px
  background-color #1D84D4
  overflow hidden
  text-decoration none
  filter drop-shadow(0px 2px 3px #303030)

  &__image
    &--background
      display flex
      width 100%
      height 50%
      justify-content center
      align-items center
      background-color rgba(255, 255, 255, 0.8)
      border-radius 10px 10px 50% 50%

      img
        width 50%
        margin 5px 0
  
  &__info
    display flex
    width 100%
    height 50%
    min-height 75px
    flex-direction column
    justify-content space-evenly
    align-items center

    &--name
      display flex
      justify-content center
      align-items center
      width 75%
      height 25px
      border-radius 13px
      background-color rgba(255, 255, 255, 0.8)
      font-size 1rem
      color #1D84D4

    &--number
      display flex
      align-items center
      font-size 1rem
      color #ffffff

      img
        width 1rem
        height 1rem
        margin-right 2px

@media screen and (max-width 400px)
  .pokemon-card
    min-width 150px
    width calc(50vw - 20px)